html body * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  position: relative;
}

.row {
  width: 100%;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}



.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.filler {
  padding: 10px;
  background-color: grey;
  box-shadow: 0px 2px 10px -5px black;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 1%;
  position: relative;
  transition: 0.5s all ease-in-out;
  
}

.filler:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: black;
  opacity: 0;
  bottom: -10px;
  left: -50px;
  position: absolute;
  transition: 0.5s all ease-in-out;
}

.filler:hover:after {
  opacity: 1;
  left: 0px;
  transition: 0.5s all ease-in-out;
}



#bg_black {
  color: white;
  background-color: black;
}

.inline-block {
  display: inline-block;
}

.border_black {
  border: 2px solid black;
}

.bg_blue {
  background-color: lightblue;
}

.bg_red {
  background-color: red;
}

.full-width {
  width: 100%;
}

.one-third {
  width: 31.33%;
}

.two-thirds {
  width: 66.66%;
}